:root {
  --bg-color: #121218;
  --text-color: #ffffff;
  --accent-color: #4a90e2;
  --secondary-color: #1d1d25;

  background-color: var(--bg-color);
  color: var(--text-color);
  box-sizing: border-box;
}

/* noise */
.noise {
  background: url(../assets/noise.png);
  opacity: 0.13;
  z-index: -5;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-repeat: repeat;
}

/* general styles */
* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-areas:
    "navbar navbar"
    "main main"
    "footer footer";
  grid-auto-flow: column;
  max-width: 100vw;
}

a {
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

main {
  min-height: 100vh;
}

.fadein-content {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fadein-content.visible {
  opacity: 1;
}

.basicmsgbox {
  background-color: var(--secondary-color);
  padding: 1em;
  border-radius: 2em;
  line-height: 25px;
  margin: 1em;
}

.fa-bars {
  color: white;
  font-size: 2em;
}

button {
  background-color: var(--secondary-color);
  border-style: none;
}

/* navbar styles */
.header {
  position: relative;
}

.navbar,
.navbar-drawer-sm {
  background-color: var(--secondary-color);
}

.navbar {
  grid-area: navbar;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-drawer-sm {
  position: relative;
  left: 0;
  top: 35%;
  width: 100vw;
  overflow-x: hidden;
  z-index: 10;
  display: none;
  justify-content: center;
}

.navbar-drawer-sm.show {
  display: flex;
}

.navbar-links-sm {
  list-style-type: none;
}

.navbar-links-sm>* {
  padding: 0.9em;
}

.navbar-actions {
  float: right;
  padding: 1em 2em 1em 1em;
}

.navbar-actions>ul {
  gap: 1em;
  list-style-type: none;
}

.navbar-brand {
  padding: 1em 1em 1em 2em;
}

/* hero styles */
.hero-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 6em 2em 3em 4em;
  align-items: center;
  justify-content: center;
}

.hero-leftside>* {
  padding-top: 10px;
}

.hero-avatar {
  width: 350px;
  margin: 3em;
  border-radius: 2em;
  box-shadow: 0px 0px 10px white;
}

.cv-download-button {
  padding: 1em;
  text-decoration: none;
  background: #16161d;
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  border-radius: 2em;
  transition: background-color 0.2s ease-in-out;
}

.cv-download-button:hover {
  background-color: var(--accent-color);
  color: white;
  border-color: white;
}

/* about styles */
.personal-info-box>ul>li>a:hover {
  color: var(--accent-color);
}

.section-container {
  margin: 0em 1em;
}

.section-container-headingtext {
  margin: 2em 1em 0em 0.7em;
  font-size: 2.3em;
}

.personal-info-box>ul {
  list-style-type: none;
  margin: 0.5em;
}

.personal-info-box>ul>b, .basicmsgbox>b {
  font-size: 1.2em;
}

.jphighlight {
  visibility: visible;
  display: inline;
}

.jphighlighta {
  display: none;
}

.jphighlight:hover {
  display: none;
}

.jphighlight:hover+.jphighlighta {
  display: inline;
}

/* skills styles*/
.techstack>div>img {
  width: 80px;
  padding: 10px;
  filter: grayscale(100%);
  border: 1px solid transparent;
  transition: width 0.2s ease, border-color 0.5s ease;
}

.techstack>div>img:hover {
  width: 85px;
  border-color: var(--accent-color);
}

/* footer styles */
.footerbar {
  background-color: var(--secondary-color);
  grid-area: footer;
  padding: 1.5em;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 0.9em;
}

/* scr size styles */
@media only screen and (min-width: 768px) {
  .lg-scr-show {
    display: block;
  }

  .navbar-actions>ul {
    display: flex;
  }

  .lg-scr-hide {
    display: none;
  }
}


@media only screen and (min-width: 769px) {
  .personal-info-box {
    display: flex;
  }

  .personal-info-box div:first-of-type {
    margin: 0em 3em 0em 1em;
  }
}

@media only screen and (max-width: 768px) {
  .lg-scr-show {
    display: none;
  }

  .lg-scr-hide {
    display: block;
  }

  .hero-div-leftside-actions {
    justify-content: center;
    display: flex;
    padding: 0;
  }

  .hero-leftside>* {
    text-align: center;
  }

  .hero-avatar {
    display: flex;
    width: 300px;
    align-self: center;
    justify-self: center;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
  }

  .heading-text {
    text-align: center;
  }

  .footerbar {
    font-size: 0.7em;
  }
}
