/* 
    in large screens:
        lg-scr-show show
        lg-scr-hide hidden
        navbar-drawer-sm hidden
    in small screens:
        lg-scr-show hidden
        lg-scr-hide show
        navbar-drawer-sm hidden
    
    drawer-btn-sm toggled:
        navbar-drawer-sm odd show even hidden 
*/

/* general styles */
a {
    cursor: pointer;
}

.personal-info-box>ul>li>a:hover {
    color: var(--accent-color);
}

@media only screen and (max-width: 768px) {
    .heading-text {
        text-align: center;
    }
}

@media only screen and (min-width: 769px) {
    .personal-info-box {
        display: flex;
    }

    .personal-info-box div:first-of-type {
        margin: 0em 3em 0em 1em;
    }
}

/* about styles */
.section-container {
    margin: 0em 1em;
}

.section-container-headingtext {
    margin: 2em 1em 0em 0.7em;
    font-size: 2.3em;
}

.personal-info-box>ul {
    list-style-type: none;
    margin: 0.5em;
}

.personal-info-box>ul>b, .basicmsgbox>b {
    font-size: 1.2em;
}

.jphighlight {
    visibility: visible;
    display: inline;
}

.jphighlighta {
    display: none;
}

.jphighlight:hover {
    display: none;
}

.jphighlight:hover+.jphighlighta {
    display: inline;
}

/* skills */
.techstack {

}

.techstack>div>img {
    width: 80px;
    padding: 10px;
    filter: grayscale(100%);
    border: 1px solid transparent;
    transition: width 0.2s ease, border-color 0.5s ease;
}

.techstack>div>img:hover {
    width: 85px;
    border-color: white;
}